<app-prozorec-detail [prozorec]="selectedProzorec"></app-prozorec-detail>

<div class="containter">


  <div class="row">

    <!-- <div class="col-md-4">
      <ul class="prozorci">
        <li *ngFor="let prozorec of prozorci" (click)="onSelect(prozorec)">
          <span class="badge">{{prozorec.id}}</span> {{prozorec.shema}}
        </li>
      </ul>
    </div> -->

    <div class="col-md-4">

      <h3>Създай позиция</h3>

      <form (ngSubmit)="onSubmit()" [formGroup]="prozorecForm" #formDir="ngForm">
        <div *ngIf="this.prozorecForm.invalid && (this.prozorecForm.dirty || this.prozorecForm.touched)">ddd</div>
        <div [hidden]="formDir.submitted">


          <div class="form-group">

            <label for="width">Ширина:</label>
            <input id="width" class="form-control" formControlName="width">

            <div *ngIf="width.invalid && (width.dirty || width.touched)" class="alert alert-danger">

              <div *ngIf="width.errors.required">
                Name is required.
              </div>
              <div *ngIf="width.errors.min">
                Трябва да бъде по-голяма от 250
              </div>
              <div *ngIf="width.errors.max">
                Трябва да бъде по-малка от 2500
              </div>
              <div *ngIf="width.errors.mismatch">ddd</div>

            </div>

          </div>

          <div class="form-group">

            <label for="height">Височина:</label>
            <input id="height" class="form-control" formControlName="height">

            <div *ngIf="height.invalid && (height.dirty || height.touched)" class="alert alert-danger">

              <div *ngIf="height.errors.required">
                Name is required.
              </div>
              <div *ngIf="height.errors.min">
                Трябва да бъде по-голяма от 250
              </div>
              <div *ngIf="height.errors.max">
                Трябва да бъде по-малка от 2500
              </div>
            </div>

          </div>







          <div class="form-group">
            <label for="type">Профил:</label>
            <select id="type" class="form-control" formControlName="type">
              <option *ngFor="let p of tipoveProzorec" [value]="p.value">{{p.viewValue}}</option>
            </select>


            <div *ngIf="type.invalid && type.touched" class="alert alert-danger">
              <div *ngIf="type.errors.required">профил is required.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="shema">Схема:</label>
            <select id="shema" class="form-control" formControlName="shema">
              <option *ngFor="let p of tipoveShema" [value]="p.value">{{p.viewValue}}</option>
            </select>


            <div *ngIf="shema.invalid && shema.touched" class="alert alert-danger">
              <div *ngIf="shema.errors.required">профил is required.</div>
            </div>
          </div>


          <button type="submit" class="btn btn-default" [disabled]="prozorecForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>
        </div>



      </form>

      <div class="submitted-message" *ngIf="formDir.submitted">
        <p>You've submitted your hero, {{ prozorecForm.value.name }}!</p>
        <button (click)="formDir.resetForm({})">Add new hero</button>
      </div>

      <app-prozorec-detail [prozorec]="selectedProzorec"></app-prozorec-detail>
    </div>

    <div class="col-md-8">

      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr class="prozorci">
            <th [attr.colspan]="1">{{this.displayedColumns[0]}}</th>
            <th>{{this.displayedColumns[1]}}</th>
            <th>{{this.displayedColumns[2]}}</th>
            <th>{{this.displayedColumns[3]}}</th>
            <th>{{this.displayedColumns[4]}}</th>
            <th>{{this.displayedColumns[5]}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prozorec of prozorci; let odd = odd" (click)="onSelect(prozorec)" (mouseover)="this.selectedPro=prozorec.id"
            [class.bg-info]="getSelected(prozorec)">

            <td>{{prozorec.id}} </td>
            <td>{{prozorec.width}}</td>
            <td>{{prozorec.height}}</td>
            <td>{{prozorec.type}}</td>
            <td>{{prozorec.shema}}</td>
            <td>
              <img [src]="prozorec.kartinka" alt="" [style.width.px]="50" [style.height.px]="50">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






<div>
  <br> Ширина (стъклопакет):{{staklopaket.width}}
  <br> Височина (стъклопакет):{{staklopaket.height}}
</div>


<div class="bg-warning" [ngSwitch]="this.shema.value">
  <div *ngSwitchCase="'ednokril'">
    <div (click)="onClickMe('/assets/images/1.jpg')">
      <img [src]="'/assets/images/1.jpg'" alt="" [style.width.px]="150" [style.height.px]="150">
    </div>
    <!-- <input (click)="onClickMe('/assets/images/1.jpg')" class="image" [style.width.px]="150" [style.height.px]="150"> -->
  </div>
  <div *ngSwitchCase="5">There are five products</div>
  <div *ngSwitchDefault>This is the default</div>
</div>


<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label>

  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>


<button class="delete" title="delete hero" (click)="delete(hero)">x</button>

<ul class="heroes">
  <li *ngFor="let hero of prozorci">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul> -->
